---
layout: layout.njk
title: PhD work
permalink: /phd/
---

<article class="prose">
  <h2>PhD</h2>
  <p>During my PhD in the <a href="http://debivort.org/">de Bivort Lab</a>, I worked on behavior, genetics, and bioinformatics in <em>D. melanogaster</em>.</p>

  <h2 class="prose-heading">Publications</h2>
  <div class="blog-list">
    <article class="blog-post-preview">
      <time class="blog-post-date" datetime="2021">2021</time>
      <h3 class="blog-post-title"><a href="https://doi.org/10.1093/g3journal/jkab129">Genetic basis of offspring number and body weight variation in Drosophila melanogaster</a></h3>
      <p class="blog-post-excerpt"><em>G3 Genes|Genomes|Genetics</em>. Genetic architecture of life-history traits in the DGRP.</p>
    </article>
    <article class="blog-post-preview">
      <time class="blog-post-date" datetime="2020">2020</time>
      <h3 class="blog-post-title"><a href="https://doi.org/10.1101/2020.09.16.300731">Wild flies hedge their thermal preference bets in response to seasonal fluctuations</a></h3>
      <p class="blog-post-excerpt"><em>bioRxiv</em> (preprint). Bet-hedging and thermal preference variability; thermal preference assays, persistence, plasticity, heritability, and life-history modeling. Code in bet-hedging project and variant calling pipeline repos.</p>
    </article>
    <article class="blog-post-preview">
      <time class="blog-post-date" datetime="2019">2019</time>
      <h3 class="blog-post-title"><a href="https://doi.org/10.1242/jeb.202234">The effect of environmental enrichment on behavioral variability depends on genotype, behavior, and type of enrichment</a></h3>
      <p class="blog-post-excerpt"><em>Journal of Experimental Biology</em>. How environmental enrichment affects behavioral variability. Code in enrichment analysis repo.</p>
    </article>
    <article class="blog-post-preview">
      <time class="blog-post-date" datetime="2016">2016</time>
      <h3 class="blog-post-title"><a href="https://doi.org/10.1093/jisesa/iew094">The Genetic Basis of Natural Variation in Drosophila (Diptera: <em>Drosophilidae</em>) Virgin Egg Retention</a></h3>
      <p class="blog-post-excerpt"><em>Journal of Insect Science</em>. Genetic basis of virgin egg retention in <em>D. melanogaster</em>.</p>
    </article>
  </div>

  <h2 class="prose-heading">Code repositories</h2>
  <ul class="project-list repo-list">
    <li class="project-item">
      <h3><a href="https://github.com/jamilla-az/bet-hedging-project">Bet-hedging project</a></h3>
      <p>R and MATLAB for thermal preference assays, persistence, plasticity, heritability, life-history modeling, and geographic bet-hedging advantage. Stan models and two-choice thermal preference rig design.</p>
    </li>
    <li class="project-item">
      <h3><a href="https://github.com/jamilla-az/variant-calling-pipeline">Variant calling pipeline</a></h3>
      <p>BWA-MEM, Picard, GATK, vcftools (alignment, BAM processing, genotyping, VCF), plus Python and SnpEff for variant processing on individually sequenced <em>D. melanogaster</em>.</p>
    </li>
    <li class="project-item">
      <h3><a href="https://github.com/jamilla-az/enrichment-analysis">Enrichment analysis</a></h3>
      <p>R and Stan scripts for the environmental enrichment and behavioral variability project (companion to JEB 2019).</p>
    </li>
  </ul>
</article>
